<form class="book-form" autocomplete="off" [formGroup]="bookForm" (ngSubmit)="submitForm()">
    <div class="form-floating mb-3">
      <input class="form-control" type="text" id="name" formControlName="name" placeholder="Name" required>
      <label for="name">Name</label>
    </div>

    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="name.errors?.['minlength']">
        Name must be at least 3 characters long.
      </div>
    </div>

    <div class="form-floating mb-3">
      <input class="form-control" type="text" formControlName="author" placeholder="Author" required>
      <label for="author">Author</label>
    </div>

    <div *ngIf="author.invalid && (author.dirty || author.touched)" class="alert alert-danger">

      <div *ngIf="author.errors?.['required']">
        Name of the author is required.
      </div>
      <div *ngIf="author.errors?.['minlength']">
        Name of author must be at least 3 characters long.
      </div>
    </div>

    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="genre" name="genre" id="genre-Children" value="Children" required>
        <label class="form-check-label" for="genre-Children">Children</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="genre" name="genre" id="genre-Adventure" value="Adventure" required>
        <label class="form-check-label" for="genre-Adventure">Adventure</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="genre" name="genre" id="genre-Biography" value="Biography" required>
        <label class="form-check-label" for="genre-Biography">Biography</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="genre" name="genre" id="genre-Mystery" value="Mystery" required>
        <label class="form-check-label" for="genre-Mystery">Mystery</label>
      </div>
      
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="genre" name="genre" id="genre-Fiction" value="Fiction" required>
        <label class="form-check-label" for="genre-Fiction">Fiction</label>
      </div>
      
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" formControlName="year" placeholder="year" required>
        <label for="year">Year Published</label>
      </div>
  
      <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert alert-danger">
  
        <div *ngIf="year.errors?.['required']">
          Year Published is required.
        </div>
        <div *ngIf="year.errors?.['minlength']">
          Year Published must be at least 4 characters long.
        </div>
      </div>

    <button class="btn btn-primary" type="submit" [disabled]="bookForm.invalid">Add</button>
  </form>